# Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Backend
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.env
backend/venv/
backend/env/

# Logs
*.log
frontend/npm-debug.log*

# OS
.DS_Store
Thumbs.db
